body {
	padding: 0;
	margin: 0;
	background-color: #C78332;
}

#bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("resources/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.clearfix {clear: both;}

#kennels {
	text-align: center;
	margin-top: 200px;
}

.kennel {
	position: relative;
	width: 200px;
	height: 80px;
	display: inline-block;
	margin: 20px 50px;
}

.kennel_circle_top, .kennel_circle_bottom {
	position: absolute;
	left: 0;
	right: 0;
	height: 50%;
	background-color: #000;
}
.kennel_circle_top {top: 0;}
.kennel_circle_bottom {bottom: 0; z-index: 1;}

.meerkat img {width: 100%; display: block;}
.meerkat {
	position: absolute;
	left: 40px;
	right: 40px;
	bottom: 20px;
	height: 0;
	overflow: hidden;
	cursor: pointer;
}