body {
	padding: 0;
	margin: 0;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #684B27;
	font-size: 24px;
	color: #fff;
}

.clearfix {clear: both;}

#kennels {
	text-align: center;
	margin-top: 200px;
}

.kennel {
	position: relative;
	width: 200px;
	height: 80px;
	display: inline-block;
	margin: 40px 65px;
}

.kennel_circle_top, .kennel_circle_bottom {
	position: absolute;
	left: 0;
	right: 0;
	height: 50%;
	background-color: #332411;
}
.kennel_circle_top {top: 0; border-radius: 250px/100px 100px 0 0;}
.kennel_circle_bottom {bottom: 0; z-index: 1; border-radius: 0 0 250px 250px/100px;}

.meerkat img {width: 100%; display: block;}
.meerkat {
	position: absolute;
	left: 40px;
	right: 40px;
	bottom: 20px;
	height: 0;
	overflow: hidden;
	cursor: pointer;
}